Repository leonardocustodio/polkadart, pull requests merged in 2022-10, with the labels that each got.

#53 Adds pull request template
  .github/pull_request_template.md
Labels: documentation, enhancement

#68 Update README.md
  README.md
Labels: documentation

#73 Test cases for encode Signed and Unsigned Integers
  packages/polkadart_scale_codec/lib/src/util/functions.dart
  packages/polkadart_scale_codec/test/compact_test.dart
  packages/polkadart_scale_codec/test/test_types/signed_int_test.dart
  packages/polkadart_scale_codec/test/test_types/unsigned_int_test.dart
  packages/polkadart_scale_codec/test/util/functions_test.dart
Labels: PR: partially-approved

#88 Create auto_assign.yml
  .github/auto_assign.yml
Labels: PR: partially-approved

#70 Test cases for Vec
  packages/polkadart_scale_codec/lib/src/core/codec.dart
  packages/polkadart_scale_codec/test/compact_test.dart
  packages/polkadart_scale_codec/test/test_types/bitvec_test.dart
  packages/polkadart_scale_codec/test/test_types/bool_test.dart
  packages/polkadart_scale_codec/test/test_types/bytes_test.dart
  packages/polkadart_scale_codec/test/test_types/compact_test.dart
  packages/polkadart_scale_codec/test/test_types/option_test.dart
  packages/polkadart_scale_codec/test/test_types/result_test.dart
  packages/polkadart_scale_codec/test/test_types/signed_int_test.dart
  packages/polkadart_scale_codec/test/test_types/string_test.dart
  packages/polkadart_scale_codec/test/test_types/unsigned_int_test.dart
  packages/polkadart_scale_codec/test/test_types/vec_test.dart
Labels: PR: partially-approved

#74 Sink Unit Test-Cases
  packages/polkadart_scale_codec/lib/src/core/sink.dart
  packages/polkadart_scale_codec/lib/src/util/exceptions.dart
  packages/polkadart_scale_codec/test/compact_test.dart
  packages/polkadart_scale_codec/test/sink_test.dart
  packages/polkadart_scale_codec/test/test_types/compact_test.dart
Labels: PR: unreviewed

#90 Remove Print Statement
  packages/polkadart_scale_codec/lib/src/core/sink.dart
Labels: PR: partially-approved

#76 Source Unit Test
  packages/polkadart_scale_codec/lib/src/core/codec.dart
  packages/polkadart_scale_codec/lib/src/core/codec_type.dart
  packages/polkadart_scale_codec/lib/src/core/registry.dart
  packages/polkadart_scale_codec/lib/src/core/sink.dart
  packages/polkadart_scale_codec/lib/src/core/source.dart
  packages/polkadart_scale_codec/lib/src/core/type_exp.dart
  packages/polkadart_scale_codec/lib/src/core/types.dart
  packages/polkadart_scale_codec/lib/src/core/types_codec.dart
  packages/polkadart_scale_codec/lib/src/util/functions.dart
  packages/polkadart_scale_codec/test/sink_test.dart
  packages/polkadart_scale_codec/test/source_test.dart
  packages/polkadart_scale_codec/test/test_types/bitvec_test.dart
  packages/polkadart_scale_codec/test/test_types/bool_test.dart
  packages/polkadart_scale_codec/test/test_types/bytes_test.dart
  packages/polkadart_scale_codec/test/test_types/compact_test.dart
  packages/polkadart_scale_codec/test/test_types/option_test.dart
  packages/polkadart_scale_codec/test/test_types/result_test.dart
  packages/polkadart_scale_codec/test/test_types/signed_int_test.dart
  packages/polkadart_scale_codec/test/test_types/string_test.dart
  packages/polkadart_scale_codec/test/test_types/unsigned_int_test.dart
  packages/polkadart_scale_codec/test/test_types/vec_test.dart
Labels: PR: partially-approved

#86 Add metadata versions v9 - v14
  packages/substrate_metadata/lib/old/definitions/metadata/base.dart
  packages/substrate_metadata/lib/old/definitions/metadata/metadata.dart
  packages/substrate_metadata/lib/old/definitions/metadata/src.dart
  packages/substrate_metadata/lib/old/definitions/metadata/v10.dart
  packages/substrate_metadata/lib/old/definitions/metadata/v11.dart
  packages/substrate_metadata/lib/old/definitions/metadata/v12.dart
  packages/substrate_metadata/lib/old/definitions/metadata/v13.dart
  packages/substrate_metadata/lib/old/definitions/metadata/v14.dart
  packages/substrate_metadata/lib/old/definitions/metadata/v9.dart
  packages/substrate_metadata/lib/old/definitions/substrate/substrate_types.dart
  packages/substrate_metadata/lib/old/definitions/substrate/substrate_types_alias.dart
  packages/substrate_metadata/lib/old/definitions/substrate/substrate_types_bundle.dart
  packages/substrate_metadata/lib/old/legacy_types_model.dart
Labels: PR: partially-approved, High priority

#87 Add xcm schema
  packages/substrate_metadata/lib/old/definitions/xcm/src.dart
  packages/substrate_metadata/lib/old/definitions/xcm/v0.dart
  packages/substrate_metadata/lib/old/definitions/xcm/v1.dart
  packages/substrate_metadata/lib/old/definitions/xcm/v2.dart
  packages/substrate_metadata/lib/old/definitions/xcm/xcm.dart
Labels: PR: unreviewed

#100 Adds Spec-Version
  packages/substrate_metadata/lib/old/legacy_types_model.dart
  packages/substrate_metadata/lib/spec_version/spec_version.model.dart
  packages/substrate_metadata/lib/spec_version/spec_version_schema.dart
Labels: PR: unreviewed, High priority

#111 Scale_codec fixes to support substrate_metadata
  packages/polkadart_scale_codec/lib/src/core/codec.dart
  packages/polkadart_scale_codec/lib/src/core/registry.dart
  packages/polkadart_scale_codec/lib/src/core/type_exp.dart
Labels: PR: unreviewed, High priority

#117 Create example and tests for Tuple
  packages/polkadart_scale_codec/example/tuple_example.dart
  packages/polkadart_scale_codec/test/test_types/tuple_test.dart
Labels: PR: partially-approved, High priority

#116 Enum tests
  packages/polkadart_scale_codec/lib/src/core/codec.dart
  packages/polkadart_scale_codec/lib/src/util/exceptions.dart
  packages/polkadart_scale_codec/test/test_types/enum_test.dart
Labels: PR: unreviewed, High priority

#118 Enum example
  packages/polkadart_scale_codec/example/enum_codec_example.dart
Labels: PR: unreviewed, High priority

#94 Remove dynamics on types decoding/encoding
  packages/polkadart_scale_codec/lib/src/core/types.dart
  packages/polkadart_scale_codec/lib/src/types/codec_u128.dart
  packages/polkadart_scale_codec/lib/src/types/codec_u16.dart
  packages/polkadart_scale_codec/lib/src/types/codec_u256.dart
  packages/polkadart_scale_codec/lib/src/types/codec_u32.dart
  packages/polkadart_scale_codec/lib/src/types/codec_u64.dart
  packages/polkadart_scale_codec/lib/src/types/codec_u8.dart
  packages/polkadart_scale_codec/test/test_types/codec_u128_test.dart
  packages/polkadart_scale_codec/test/test_types/codec_u16_test.dart
  packages/polkadart_scale_codec/test/test_types/codec_u256_test.dart
  packages/polkadart_scale_codec/test/test_types/codec_u32_test.dart
  packages/polkadart_scale_codec/test/test_types/codec_u64_test.dart
  packages/polkadart_scale_codec/test/test_types/codec_u8_test.dart
Labels: PR: partially-approved

#98 Create new codec type for i16
  packages/polkadart_scale_codec/lib/src/core/core.dart
  packages/polkadart_scale_codec/lib/src/types/codec_i16.dart
  packages/polkadart_scale_codec/test/test_types/codec_i16_test.dart
Labels: PR: unreviewed

#99 Create new codec type for i32
  packages/polkadart_scale_codec/lib/src/core/core.dart
  packages/polkadart_scale_codec/lib/src/types/codec_i32.dart
  packages/polkadart_scale_codec/test/test_types/codec_i32_test.dart
Labels: PR: unreviewed

#101 Create new codec type for i64
  packages/polkadart_scale_codec/lib/src/core/core.dart
  packages/polkadart_scale_codec/lib/src/types/codec_i64.dart
  packages/polkadart_scale_codec/test/test_types/codec_i64_test.dart
Labels: PR: unreviewed

#102 Create new codec type for i128
  packages/polkadart_scale_codec/lib/src/core/core.dart
  packages/polkadart_scale_codec/lib/src/types/codec_i128.dart
  packages/polkadart_scale_codec/test/test_types/codec_i128_test.dart
Labels: PR: unreviewed

#119 Struct tests and examples
  packages/polkadart_scale_codec/example/struct_codec_example.dart
  packages/polkadart_scale_codec/lib/src/core/codec.dart
  packages/polkadart_scale_codec/lib/src/core/registry.dart
  packages/polkadart_scale_codec/test/test_types/struct_test.dart
Labels: PR: partially-approved, High priority

#114 Add events, calls, type hashing, exceptions
  packages/substrate_metadata/lib/event_registry.dart
  packages/substrate_metadata/lib/exceptions/assertion_exception.dart
  packages/substrate_metadata/lib/exceptions/exceptions.dart
  packages/substrate_metadata/lib/exceptions/spec_file_exception.dart
  packages/substrate_metadata/lib/exceptions/unexpected_exception.dart
  packages/substrate_metadata/lib/types_hashing.dart
  packages/substrate_metadata/lib/utils/utils.dart
  packages/substrate_metadata/pubspec.yaml
Labels: PR: partially-approved, High priority

#120 Polkadart scale codec documentation
  packages/polkadart_scale_codec/README.md
Labels: PR: partially-approved, High priority

#123 Fix CodecU16 and create test
  packages/polkadart_scale_codec/README.md
  packages/polkadart_scale_codec/lib/src/types/codec_u16.dart
  packages/polkadart_scale_codec/test/test_types/codec_i128_test.dart
  packages/polkadart_scale_codec/test/test_types/codec_i256_test.dart
  packages/polkadart_scale_codec/test/test_types/codec_i64_test.dart
  packages/polkadart_scale_codec/test/test_types/codec_u16_test.dart
Labels: PR: partially-approved

#124 Fix CodecU32 and create tests
  packages/polkadart_scale_codec/lib/src/core/source.dart
  packages/polkadart_scale_codec/lib/src/types/codec_u32.dart
  packages/polkadart_scale_codec/lib/src/util/exceptions.dart
  packages/polkadart_scale_codec/test/test_types/codec_u16_test.dart
  packages/polkadart_scale_codec/test/test_types/codec_u32_test.dart
Labels: PR: partially-approved

#121 Metadata decoder
  .github/workflows/tests.yml
  packages/substrate_metadata/lib/metadata_decoder.dart
  packages/substrate_metadata/lib/models/si0_type/si0_type.dart
  packages/substrate_metadata/lib/models/si1_type/si1_type.dart
  packages/substrate_metadata/lib/models/storage/storage_entry_metadata.dart
  packages/substrate_metadata/lib/models/storage/storage_entry_modifier.dart
  packages/substrate_metadata/lib/models/storage/storage_entry_type.dart
  packages/substrate_metadata/lib/models/storage/storage_hasher.dart
  packages/substrate_metadata/test/metadata/metadata_decoder_test.dart
  packages/substrate_metadata/test/metadata/metadata_hex.dart
Labels: PR: unreviewed, High priority
