Repository leonardocustodio/polkadart, pull requests merged in 2022-11, with the labels that each got.

#137 substrate_metadata documentation
  packages/substrate_metadata/README.md
Labels: PR: partially-approved, High priority

#131 Adds extrinsic, decode/encode
  packages/substrate_metadata/README.md
  packages/substrate_metadata/lib/chain/chain.dart
  packages/substrate_metadata/lib/chain_description/chain_description.model.dart
  packages/substrate_metadata/lib/exceptions/exceptions.dart
  packages/substrate_metadata/lib/exceptions/unsupported_metadata_exception.dart
  packages/substrate_metadata/lib/extrinsic.dart
  packages/substrate_metadata/lib/metadata_decoder.dart
  packages/substrate_metadata/lib/models/models.dart
  packages/substrate_metadata/lib/models/raw_block/raw_block.model.dart
  packages/substrate_metadata/lib/old/legacy_types_model.dart
  packages/substrate_metadata/lib/old/types_bundle.dart
  packages/substrate_metadata/lib/utils/byte_encoder.dart
  packages/substrate_metadata/lib/utils/spec_version_maker.dart
  packages/substrate_metadata/lib/utils/utils.dart
  packages/substrate_metadata/pubspec.yaml
Labels: PR: partially-approved, High priority

#136 Decode constants functionality
  packages/substrate_metadata/lib/chain/chain.dart
Labels: PR: unreviewed, High priority

#141 Test extrinsics
  chain/polkadot/blocks.jsonl
  chain/polkadot/versions.jsonl
  packages/substrate_metadata/README.md
  packages/substrate_metadata/lib/chain/chain.dart
  packages/substrate_metadata/lib/chain_description/parse_legacy.cached.dart
  packages/substrate_metadata/lib/chain_description/parse_legacy.dart
  packages/substrate_metadata/lib/chain_description/parse_v14.cached.dart
  packages/substrate_metadata/lib/models/raw_block/raw_block_events.model.dart
  packages/substrate_metadata/lib/models/storage/storage_entry_type.dart
  packages/substrate_metadata/test/extrinsic_test.dart
  packages/substrate_metadata/test/parachain_definitions/polkadot.dart
Labels: PR: unreviewed, High priority

#142 Test Events
  chain/polkadot/events.jsonl
  packages/substrate_metadata/lib/models/raw_block/raw_block_events.model.dart
  packages/substrate_metadata/test/events_test.dart
Labels: PR: unreviewed, High priority

#145 test constants
  packages/substrate_metadata/lib/chain/chain.dart
  packages/substrate_metadata/lib/chain_description/chain.dart
  packages/substrate_metadata/lib/chain_description/parse_v14.dart
  packages/substrate_metadata/test/constants_test.dart
Labels: PR: unreviewed, High priority

#154 Fixes after introducing: Some & None
  packages/substrate_metadata/lib/models/module_metadata/module_metadata.dart
  packages/substrate_metadata/lib/models/pallet/pallets.dart
  packages/substrate_metadata/lib/models/si1_type/si1_type.dart
Labels: PR: unreviewed, High priority

#152 Add New Option Type - (Some, None)
  packages/polkadart_scale_codec/example/option_codec_example.dart
  packages/polkadart_scale_codec/lib/src/core/codec.dart
  packages/polkadart_scale_codec/lib/src/core/core.dart
  packages/polkadart_scale_codec/lib/src/core/option_type.dart
  packages/polkadart_scale_codec/test/test_types/option_test.dart
  packages/polkadart_scale_codec/test/test_types/struct_test.dart
  packages/polkadart_scale_codec/test/test_types/tuple_test.dart
  packages/polkadart_scale_codec/test/test_types/vec_test.dart
  packages/substrate_metadata/lib/models/module_metadata/module_metadata.dart
  packages/substrate_metadata/lib/models/pallet/pallets.dart
  packages/substrate_metadata/lib/models/si1_type/si1_type.dart
Labels: PR: unreviewed, High priority

#157 Changes docker tests
  docker/Dockerfile
  docker/run_tests.sh
  run_tests.sh
Labels: PR: partially-approved

#158 Remove dart mirrors and rewrite test cases
  README.md
  docker/polkadart_example/pubspec.lock
  packages/polkadart_scale_codec/README.md
  packages/polkadart_scale_codec/lib/src/core/encoder.dart
  packages/polkadart_scale_codec/test/sink_test.dart
  packages/polkadart_scale_codec/test/source_test.dart
  packages/ss58/README.md
  packages/ss58_codec/README.md
  packages/substrate_metadata/README.md
  packages/substrate_metadata/lib/chain/chain.dart
  packages/substrate_metadata/lib/extrinsic.dart
  packages/substrate_metadata/lib/utils/byte_encoder.dart
Labels: PR: partially-approved
