Repository leonardocustodio/polkadart, pull requests merged in 2022-12, with the labels that each got.

#159 Add git-lfs to README
  README.md
Labels: PR: partially-approved

#165 Simplify super calls
  README.md
  packages/polkadart_scale_codec/lib/src/core/codec_variant.dart
  packages/polkadart_scale_codec/lib/src/core/types.dart
  packages/substrate_metadata/lib/event_registry.dart
  packages/substrate_metadata/lib/models/metadata/metadata_versions.dart
  packages/substrate_metadata/lib/models/module_metadata/module_metadata.dart
  packages/substrate_metadata/lib/models/raw_block/raw_block.model.dart
  packages/substrate_metadata/lib/models/storage/storage_entry_modifier.dart
Labels: PR: unreviewed

#166 Test Cases with Optimisations
  packages/polkadart_scale_codec/lib/src/core/registry.dart
  packages/polkadart_scale_codec/lib/src/core/types_codec.dart
  packages/substrate_metadata/README.md
  packages/substrate_metadata/lib/chain/chain.dart
  packages/substrate_metadata/lib/chain_description/chain_description.model.dart
  packages/substrate_metadata/lib/chain_description/parse_v14.dart
  packages/substrate_metadata/lib/extrinsic.dart
  packages/substrate_metadata/test/v14_tests/constants_test.dart
  packages/substrate_metadata/test/v14_tests/events_test.dart
  packages/substrate_metadata/test/v14_tests/extrinsics_test.dart
  packages/substrate_metadata/test/v14_tests/metadata_v14.dart
Labels: PR: partially-approved

#167 Improve Readme
  packages/substrate_metadata/README.md
Labels: PR: unreviewed

#171 Fix snake_case Issue
  packages/polkadart_scale_codec/lib/src/core/registry.dart
  packages/substrate_metadata/test/v14_tests/events_test.dart
  packages/substrate_metadata/test/v14_tests/extrinsics_test.dart
Labels: PR: partially-approved

#172 Remove dart mirrors
  packages/polkadart_scale_codec/lib/src/core/codec.dart
  packages/polkadart_scale_codec/lib/src/core/core.dart
Labels: PR: partially-approved

#173 Update README.md
  README.md
Labels: documentation, PR: partially-approved

#175 Add extrinsics hash impl
  README.md
  packages/substrate_metadata/lib/chain/chain.dart
  packages/substrate_metadata/lib/extrinsic.dart
  packages/substrate_metadata/lib/models/decoded_block/decoded_block_extrinsics.model.dart
  packages/substrate_metadata/lib/utils/utils.dart
  packages/substrate_metadata/pubspec.yaml
  packages/substrate_metadata/test/compute_extrinsic_hash_test.dart
  packages/substrate_metadata/test/v14_tests/extrinsics_test.dart
Labels: PR: partially-approved
