Repository leonardocustodio/polkadart, pull requests merged in 2023-11, with the labels that each got.

#362 [Bug] Fix immortal transactions (eraPeriod = 0)
  packages/polkadart/CHANGELOG.md
  packages/polkadart/lib/extrinsic/extrinsic_payload.dart
  packages/polkadart/lib/extrinsic/signing_payload.dart
  packages/polkadart/pubspec.yaml
Labels: bug

#368 Update README.md
  README.md
  packages/polkadart/README.md
  packages/polkadart_cli/README.md
  packages/polkadart_keyring/README.md
  packages/polkadart_scale_codec/README.md
  packages/ss58/README.md
  packages/substrate_bip39/README.md
  packages/substrate_metadata/README.md
Labels: documentation

#371 [provider] fix `isConnected` check for websocket provider
  packages/polkadart/lib/provider.dart
Labels: bug

#372 Update pubspec.yaml
  packages/polkadart/CHANGELOG.md
  packages/polkadart/pubspec.yaml
Labels: dependencies

#375 Fixes xxh64 algorithm
  examples/bin/demo.dart
  packages/polkadart/CHANGELOG.md
  packages/polkadart/lib/substrate/hash/block_hash.dart
  packages/polkadart/lib/substrate/hash/hash_base.dart
  packages/polkadart/lib/substrate/hash/hash_digest.dart
  packages/polkadart/lib/substrate/hash/xxh64.dart
  packages/polkadart/lib/substrate/hasher.dart
  packages/polkadart/lib/substrate/substrate.dart
  packages/polkadart/lib/substrate/xxh64.dart
  packages/polkadart/pubspec.yaml
  packages/polkadart/test/hashers_test.dart
  packages/polkadart_cli/CHANGELOG.md
  packages/polkadart_cli/lib/src/typegen/types/core.dart
  packages/polkadart_cli/pubspec.yaml
Labels: bug

#377 Fix xxh64
  packages/polkadart/CHANGELOG.md
  packages/polkadart/lib/substrate/hasher.dart
  packages/polkadart/lib/substrate/substrate.dart
  packages/polkadart/pubspec.yaml
  packages/polkadart/test/hashers_test.dart
Labels: bug

#379 Bump polkadart package version
  .github/pull_request_template.md
  .github/workflows/rdme-docs.yml
  README.md
  packages/polkadart/CHANGELOG.md
  packages/polkadart/README.md
  packages/polkadart/pubspec.yaml
  packages/polkadart_cli/README.md
  packages/polkadart_keyring/README.md
  packages/polkadart_scale_codec/README.md
  packages/ss58/README.md
  packages/substrate_bip39/README.md
  packages/substrate_metadata/README.md
Labels: dependencies

#376 [polkadart_cli] generate method for getting a storage's key
  packages/polkadart_cli/lib/src/generator/pallet.dart
Labels: enhancement

#380 Bump polkadart-cli version
  packages/polkadart_cli/CHANGELOG.md
  packages/polkadart_cli/pubspec.yaml
Labels: dependencies
