Repository leonardocustodio/polkadart, pull requests merged in 2024-02, with the labels that each got.

#419 fix signing payloads > 256 bytes
  packages/polkadart/lib/extrinsic/signing_payload.dart
Labels: type: bug, pkg: polkadart, github-actions

#417 MultiSig Implementation
  examples/bin/extrinsic_demo.dart
  packages/polkadart/README.md
  packages/polkadart/example/multisig_example.dart
  packages/polkadart/lib/apis/apis.dart
  packages/polkadart/lib/apis/chain.dart
  packages/polkadart/lib/extrinsic/abstract_payload.dart
  packages/polkadart/lib/extrinsic/extrinsic_payload.dart
  packages/polkadart/lib/extrinsic/signature_type.dart
  packages/polkadart/lib/extrinsic/signed_extensions/asset_hub.dart
  packages/polkadart/lib/extrinsic/signed_extensions/substrate.dart
  packages/polkadart/lib/extrinsic/signing_payload.dart
  packages/polkadart/lib/multisig/exceptions.dart
  packages/polkadart/lib/multisig/extensions.dart
  packages/polkadart/lib/multisig/multisig.dart
  packages/polkadart/lib/multisig/multisig_base.dart
  packages/polkadart/lib/multisig/multisig_meta.dart
  packages/polkadart/lib/multisig/multisig_response.dart
  packages/polkadart/lib/multisig/multisig_storage.dart
  packages/polkadart/lib/multisig/signatories.dart
  packages/polkadart/lib/multisig/signatory.dart
  packages/polkadart/lib/multisig/time_point.dart
  packages/polkadart/lib/multisig/utilities.dart
  packages/polkadart/lib/multisig/weight.dart
  packages/polkadart/lib/primitives/transfers.dart
  packages/polkadart/lib/provider.dart
  packages/polkadart/lib/substrate/era.dart
  packages/polkadart/pubspec.yaml
  packages/polkadart/pubspec_overrides.yaml
  packages/polkadart_keyring/analysis_options.yaml
  packages/polkadart_keyring/lib/polkadart_keyring.dart
  packages/polkadart_keyring/lib/src/sr25519.dart
  packages/polkadart_keyring/lib/utils/constants.dart
  packages/polkadart_keyring/lib/utils/extensions.dart
  packages/polkadart_keyring/lib/utils/hashers.dart
  packages/polkadart_keyring/lib/utils/utilities.dart
  packages/polkadart_keyring/pubspec.yaml
  packages/polkadart_scale_codec/lib/core/registry.dart
  packages/polkadart_scale_codec/lib/primitives/enum.dart
  packages/substrate_metadata/lib/parsers/v14_parser.dart
  packages/substrate_metadata/lib/types/era_extrinsic.dart
  packages/substrate_metadata/lib/types/extrinsics.dart
Labels: type: enhancement, pkg: polkadart_keyring, Review effort [1-5]: 3

#421 Custom Signed Extensions Example
  examples/bin/extrinsic_demo.dart
  examples/pubspec.yaml
  packages/polkadart/example/multisig_example.dart
  packages/polkadart/lib/extrinsic/abstract_payload.dart
  packages/polkadart/lib/extrinsic/extrinsic_payload.dart
  packages/polkadart/lib/extrinsic/signing_payload.dart
  packages/polkadart/lib/multisig/multisig.dart
  packages/polkadart_scale_codec/lib/core/registry.dart
  packages/substrate_metadata/lib/parsers/v14_parser.dart
Labels: Enhancement, Review effort [1-5]: 2

#423 Bump package versions
  packages/polkadart/CHANGELOG.md
  packages/polkadart/pubspec.yaml
  packages/polkadart_keyring/CHANGELOG.md
  packages/polkadart_keyring/pubspec.yaml
  packages/polkadart_scale_codec/CHANGELOG.md
  packages/polkadart_scale_codec/pubspec.yaml
  packages/substrate_metadata/CHANGELOG.md
  packages/substrate_metadata/pubspec.yaml
Labels: type: dependencies, Review effort [1-5]: 2

#424 Important Fixes for the naming types
  packages/polkadart/lib/extrinsic/extrinsic_payload.dart
  packages/polkadart/lib/extrinsic/signed_extensions/asset_hub.dart
  packages/polkadart/lib/extrinsic/signed_extensions/signed_extensions_abstract.dart
  packages/polkadart/lib/extrinsic/signed_extensions/substrate.dart
  packages/polkadart/lib/extrinsic/signing_payload.dart
Labels: Enhancement, Review effort [1-5]: 3

#425 Update pubspec.yaml
  packages/polkadart/CHANGELOG.md
  packages/polkadart/pubspec.yaml
Labels: Enhancement, Review effort [1-5]: 1

#426 Update pubspec.yaml
  packages/polkadart_cli/CHANGELOG.md
  packages/polkadart_cli/pubspec.yaml
Labels: Enhancement, Review effort [1-5]: 1

#427 Bump versions
  packages/polkadart_keyring/CHANGELOG.md
  packages/polkadart_keyring/pubspec.yaml
  packages/sr25519/CHANGELOG.md
  packages/sr25519/pubspec.yaml
  packages/substrate_bip39/CHANGELOG.md
Labels: type: dependencies, Enhancement, Review effort [1-5]: 2

#428 Update pubspec.yaml
  packages/polkadart_cli/CHANGELOG.md
  packages/polkadart_cli/pubspec.yaml
Labels: type: dependencies

#429 Fixes ecdsa & custom signed extensions
  examples/bin/extrinsic_demo.dart
  examples/pubspec.yaml
  packages/polkadart/CHANGELOG.md
  packages/polkadart/example/multisig_example.dart
  packages/polkadart/lib/extrinsic/abstract_payload.dart
  packages/polkadart/lib/extrinsic/extrinsic_payload.dart
  packages/polkadart/lib/extrinsic/signed_extensions/asset_hub.dart
  packages/polkadart/lib/extrinsic/signing_payload.dart
  packages/polkadart/pubspec.yaml
  packages/polkadart_keyring/CHANGELOG.md
  packages/polkadart_keyring/lib/src/ecdsa.dart
  packages/polkadart_keyring/pubspec.yaml
Labels: Enhancement, bug_fix, Review effort [1-5]: 4, Possible security concern

#430 Fixes ecdsa tests
  packages/polkadart/CHANGELOG.md
  packages/polkadart/pubspec.yaml
  packages/polkadart_cli/CHANGELOG.md
  packages/polkadart_cli/pubspec.yaml
  packages/polkadart_keyring/CHANGELOG.md
  packages/polkadart_keyring/pubspec.yaml
  packages/polkadart_keyring/pubspec_overrides.yaml
  packages/polkadart_keyring/test/keypair_ecdsa_test.dart
  packages/secp256k1_ecdsa/CHANGELOG.md
  packages/secp256k1_ecdsa/lib/src/signature.dart
  packages/secp256k1_ecdsa/pubspec.yaml
Labels: pkg: secp256k1_ecdsa, resolution: fixed, Review effort [1-5]: 1, bug_fix
