Repository leonardocustodio/polkadart, pull requests merged in 2024-11, with the labels that each got.

#495 Remove docker-compose
  Dockerfile
  docker-compose.yml
  pubspec.yaml
Labels: type: dependencies, Review effort [1-5]: 2

#496 Create docker_build.yml
  .github/workflows/docker_build.yml
Labels: github-actions, Review effort [1-5]: 2

#498 Update http and switch to json_schema
  packages/polkadart/pubspec.yaml
  packages/polkadart_cli/pubspec.yaml
  packages/substrate_metadata/lib/utils/spec_version_maker.dart
  packages/substrate_metadata/lib/utils/utils.dart
  packages/substrate_metadata/pubspec.yaml
Labels: pkg: polkadart, pkg: polkadart_cli, pkg: substrate_metadata, type: dependencies
