Repository leonardocustodio/polkadart, pull requests merged in 2024-01, with the labels that each got.

#355 Create sr25519 package
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  examples/bin/extrinsic_demo.dart
  packages/polkadart/lib/extrinsic/extrinsic.dart
  packages/polkadart/lib/extrinsic/extrinsic_payload.dart
  packages/polkadart/lib/extrinsic/signature_type.dart
  packages/polkadart/lib/extrinsic/signed_extensions/asset_hub.dart
  packages/polkadart/lib/extrinsic/signed_extensions/signed_extensions_abstract.dart
  packages/polkadart/lib/extrinsic/signed_extensions/substrate.dart
  packages/polkadart/lib/extrinsic/signing_payload.dart
  packages/polkadart/pubspec.yaml
  packages/polkadart_keyring/README.md
  packages/polkadart_keyring/example/example.dart
  packages/polkadart_keyring/lib/polkadart_keyring.dart
  packages/polkadart_keyring/lib/src/constants.dart
  packages/polkadart_keyring/lib/src/ed25519.dart
  packages/polkadart_keyring/lib/src/extensions.dart
  packages/polkadart_keyring/lib/src/keypair.dart
  packages/polkadart_keyring/lib/src/keyring.dart
  packages/polkadart_keyring/lib/src/pairs.dart
  packages/polkadart_keyring/lib/src/public_key.dart
  packages/polkadart_keyring/lib/src/sr25519.dart
  packages/polkadart_keyring/pubspec.yaml
  packages/polkadart_keyring/test/keypair_sr25519_test.dart
  packages/polkadart_keyring/test/keypair_test.dart
  packages/polkadart_keyring/test/keyring_test.dart
  packages/polkadart_keyring/test/pairs_test.dart
  packages/polkadart_keyring/test/suri_sr25519_test.dart
  packages/sr25519/.gitignore
  packages/sr25519/CHANGELOG.md
  packages/sr25519/README.md
  packages/sr25519/analysis_options.yaml
  packages/sr25519/example/example.dart
  packages/sr25519/lib/sr25519.dart
  packages/sr25519/lib/src/batch.dart
  packages/sr25519/lib/src/bip39.dart
  packages/sr25519/lib/src/derivable_key.dart
  packages/sr25519/lib/src/extended_key.dart
  packages/sr25519/lib/src/keypair.dart
  packages/sr25519/lib/src/mini_secret_key.dart
  packages/sr25519/lib/src/public_key.dart
  packages/sr25519/lib/src/secret_key.dart
  packages/sr25519/lib/src/signature.dart
  packages/sr25519/lib/src/sr25519.dart
  packages/sr25519/lib/src/utilities.dart
  packages/sr25519/lib/src/vrf_in_out.dart
  packages/sr25519/lib/src/vrf_output.dart
  packages/sr25519/lib/src/vrf_proof.dart
  packages/sr25519/pubspec.yaml
  packages/sr25519/test/batch_test.dart
  packages/sr25519/test/bip39_test.dart
  packages/sr25519/test/derive_test.dart
  packages/sr25519/test/example_test.dart
  packages/sr25519/test/keys_test.dart
  packages/sr25519/test/signature_test.dart
  packages/sr25519/test/vrf_test.dart
  packages/substrate_bip39/lib/crypto_scheme.dart
Labels: enhancement

#392 Fixes issue with extrinsics named "call"
  packages/polkadart_cli/lib/src/generator/pallet.dart
Labels: bug

#393 Update cli & keyring
  CHANGELOG.md
  examples/pubspec.yaml
  packages/polkadart/CHANGELOG.md
  packages/polkadart/pubspec.yaml
  packages/polkadart_cli/CHANGELOG.md
  packages/polkadart_cli/pubspec.yaml
  packages/polkadart_keyring/CHANGELOG.md
  packages/polkadart_keyring/pubspec.yaml
Labels: dependencies

#394 Removes publish_none from keyring
  packages/polkadart_keyring/pubspec.yaml
Labels: dependencies

#395 Removes publish_none from polkadart
  packages/polkadart/pubspec.yaml
Labels: dependencies

#396 Updates sr25519 description
  packages/sr25519/CHANGELOG.md
  packages/sr25519/pubspec.yaml
Labels: dependencies

#402 fix paying extrinsic with custom asset
  packages/polkadart/lib/extrinsic/extrinsic_payload.dart
  packages/polkadart/lib/extrinsic/signing_payload.dart
Labels: bug

#403 Update CHANGELOG.md
  packages/polkadart/CHANGELOG.md
  packages/polkadart/pubspec.yaml
Labels: dependencies

#407 Adds PR agent to repository
  .github/workflows/pr_agent.yml
Labels: enhancement, Review effort [1-5]: 2, Possible security concern

#409 Add types to api.txs
  packages/polkadart_cli/lib/src/generator/pallet.dart
Labels: enhancement, Review effort [1-5]: 2

#411 Bump polkadart_cli version
  packages/polkadart_cli/CHANGELOG.md
  packages/polkadart_cli/pubspec.yaml
Labels: dependencies

#412 Release secp256k1 package
  packages/secp256k1_ecdsa/LICENSE
  packages/secp256k1_ecdsa/pubspec.yaml
Labels: dependencies, Review effort [1-5]: 1, Other

#414 Bump keyring version
  packages/polkadart_keyring/CHANGELOG.md
  packages/polkadart_keyring/pubspec.yaml
Labels: enhancement, Review effort [1-5]: 1

#415 Bump substrate_bip39
  packages/sr25519/pubspec.yaml
  packages/substrate_bip39/CHANGELOG.md
  packages/substrate_bip39/pubspec.yaml
Labels: enhancement, Review effort [1-5]: 1

#416 Update README.md
  packages/polkadart_keyring/CHANGELOG.md
  packages/polkadart_keyring/README.md
  packages/polkadart_keyring/pubspec.yaml
Labels: enhancement, dependencies, Review effort [1-5]: 1
