Repository leonardocustodio/polkadart, pull requests merged in 2024-06, with the labels that each got.

#456 Fixed http provider send json rpc failed
  packages/polkadart/lib/provider.dart
Labels: type: enhancement, pkg: polkadart

#457 Bump polkadart pkg version
  packages/polkadart/CHANGELOG.md
  packages/polkadart/pubspec.yaml
Labels: Review effort [1-5]: 1, dependencies

#462 Update pubspec.yaml
  packages/polkadart/CHANGELOG.md
  packages/polkadart/pubspec.yaml
Labels: type: dependencies, Enhancement, Review effort [1-5]: 1

#477 Create labeler.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Review effort [1-5]: 2, configuration changes, enhancement

#478 Fixes build & tests
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/tests.yml
  examples/pubspec.yaml
  examples/pubspec_overrides.yaml
  packages/polkadart/pubspec.yaml
  packages/polkadart/pubspec_overrides.yaml
  packages/polkadart_cli/pubspec.yaml
  packages/polkadart_cli/pubspec_overrides.yaml
  packages/polkadart_keyring/pubspec.yaml
  packages/polkadart_keyring/pubspec_overrides.yaml
  packages/polkadart_scale_codec/lib/io/input.dart
  packages/polkadart_scale_codec/lib/io/io.dart
  packages/polkadart_scale_codec/pubspec.yaml
  packages/secp256k1_ecdsa/pubspec.yaml
  packages/sr25519/pubspec.yaml
  packages/sr25519/pubspec_overrides.yaml
  packages/ss58/pubspec.yaml
  packages/substrate_bip39/pubspec.yaml
  packages/substrate_metadata/pubspec.yaml
  pubspec.yaml
Labels: pkg: polkadart, pkg: polkadart_cli, pkg: polkadart_keyring, pkg: secp256k1_ecdsa, pkg: sr25519, pkg: ss58, pkg: substrate_bip39, pkg: substrate_metadata, pkg: polkadart_scale_codec
