Repository leonardocustodio/polkadart, pull requests merged in 2025-02, with the labels that each got.

#515 Fixes polkadart examples & polkadart_cli txs & registry
  .gitignore
  .husky/pre-commit
  examples/README.md
  examples/analysis_options.yaml
  examples/lib/README.md
  examples/lib/encointer_extrinsic_demo.dart
  examples/lib/extrinsic_demo.dart
  examples/lib/get_account_infos_demo.dart
  examples/pubspec.yaml
  package.json
  packages/ink_abi/analysis_options.yaml
  packages/ink_cli/analysis_options.yaml
  packages/polkadart/analysis_options.yaml
  packages/polkadart/lib/apis/apis.dart
  packages/polkadart/lib/apis/state.dart
  packages/polkadart_cli/analysis_options.yaml
  packages/polkadart_cli/bin/generate.dart
  packages/polkadart_cli/lib/src/generator/chain.dart
  packages/polkadart_cli/lib/src/generator/pallet.dart
  packages/polkadart_cli/lib/src/generator/polkadart.dart
  packages/polkadart_keyring/pubspec_overrides.yaml
  packages/polkadart_scale_codec/pubspec.yaml
  packages/polkadart_scale_codec/pubspec_overrides.yaml
  packages/secp256k1_ecdsa/analysis_options.yaml
  packages/sr25519/analysis_options.yaml
  packages/sr25519/pubspec_overrides.yaml
  packages/ss58/analysis_options.yaml
  packages/substrate_bip39/analysis_options.yaml
  packages/substrate_bip39/pubspec_overrides.yaml
  packages/substrate_metadata/analysis_options.yaml
  packages/substrate_metadata/lib/definitions/metadata/metadata.dart
  packages/substrate_metadata/lib/definitions/metadata/src.dart
  packages/substrate_metadata/lib/definitions/metadata/v15.dart
Labels: type: documentation, pkg: polkadart, pkg: polkadart_cli, pkg: substrate_metadata, type: dependencies, Review effort [1-5]: 4

#516 Adds CheckMetadataHash signed extension
  .github/workflows/tests.yml
  apps/examples/lib/extrinsic_with_metadata_hash.dart
  melos.yaml
  packages/ink_abi/pubspec.yaml
  packages/ink_cli/pubspec.yaml
  packages/polkadart/CHANGELOG.md
  packages/polkadart/analysis_options.yaml
  packages/polkadart/lib/apis/state.dart
  packages/polkadart/lib/extrinsic/abstract_payload.dart
  packages/polkadart/lib/extrinsic/extrinsic_payload.dart
  packages/polkadart/lib/extrinsic/signing_payload.dart
  packages/polkadart/lib/multisig/multisig_base.dart
  packages/polkadart/lib/multisig/multisig_meta.dart
  packages/polkadart/pubspec.yaml
  packages/polkadart_cli/pubspec.yaml
  packages/substrate_metadata/pubspec.yaml
Labels: type: documentation, pkg: polkadart, pkg: polkadart_cli, pkg: substrate_metadata, type: dependencies, github-actions, Review effort [1-5]: 4, pkg: ink_abi, pkg: ink_cli

#517 Change publish workflow
  .github/workflows/publish.yml
  .github/workflows/publish/ink_abi.yml
  .github/workflows/publish/ink_cli.yml
  .github/workflows/publish/polkadart.yml
  .github/workflows/publish/polkadart_keyring.yml
  .github/workflows/publish/polkadart_scale_codec.yml
  .github/workflows/publish/secp256k1_ecdsa.yml
  .github/workflows/publish/sr25519.yml
  .github/workflows/publish/ss58.yml
  .github/workflows/publish/substrate_bip39.yml
  .github/workflows/publish/substrate_metadata.yml
  pubspec.yaml
Labels: type: dependencies, github-actions, Review effort [1-5]: 2

#522 Bump ink_cli
  packages/ink_cli/CHANGELOG.md
  packages/ink_cli/pubspec.yaml
Labels: type: dependencies, pkg: ink_cli

#525 A few improvements to the CI
  .github/workflows/docker_build.yml
  .github/workflows/link_checker.yml
  .github/workflows/tests.yml
Labels: github-actions

#526 docs: Improve ink! documentation with examples and setup instructions
  docs/src/content/docs/ink/ink_cli.mdx
  docs/src/content/docs/ink/overview.mdx
Labels: type: documentation

#531 Adds CI for docs
  .github/workflows/docker_build.yml
  .github/workflows/docs_build.yml
  .github/workflows/labeler.yml
  .github/workflows/link_checker.yml
  .github/workflows/tests.yml
Labels: github-actions, Review effort 2/5

#535 Update pubspec.yaml
  packages/polkadart_scale_codec/pubspec.yaml
Labels: type: dependencies, pkg: polkadart_scale_codec, Review effort 1/5

#537 docs: Update ink_abi and ink_cli documentation with examples.
  docs/src/content/docs/guides/contracts-interaction.mdx
  docs/src/content/docs/ink/ink_abi.mdx
  docs/src/content/docs/ink/ink_cli.mdx
  docs/src/content/docs/ink/overview.mdx
Labels: type: documentation

#538 Fix State Mutation Flow and Fix
  packages/ink_abi/lib/core/encode_call.dart
  packages/ink_cli/example/erc20_generator.dart
  packages/ink_cli/example/flipper.dart
  packages/ink_cli/example/flipper.json
  packages/ink_cli/example/flipper_deployer_example.dart
  packages/ink_cli/example/flipper_state_mutater_example.dart
  packages/ink_cli/example/generated.dart
  packages/ink_cli/example/generated_erc20.dart
  packages/ink_cli/lib/ink_cli.dart
  packages/ink_cli/lib/src/contracts_builder/args/contract_call_args.dart
  packages/ink_cli/lib/src/contracts_builder/core/contract_builder.dart
  packages/ink_cli/lib/src/contracts_builder/core/contract_deployer.dart
  packages/ink_cli/lib/src/contracts_builder/core/contract_method.dart
  packages/ink_cli/lib/src/contracts_builder/core/contract_mutator.dart
  packages/ink_cli/lib/src/core/type_generator.dart
Labels: pkg: polkadart, pkg: polkadart_cli, pkg: secp256k1_ecdsa, pkg: sr25519, pkg: ss58, pkg: substrate_bip39, pkg: substrate_metadata, pkg: ink_abi, pkg: ink_cli, Review effort 5/5

#544 Release ink 0.2.3
  packages/ink_abi/CHANGELOG.md
  packages/ink_abi/pubspec.yaml
  packages/ink_cli/CHANGELOG.md
  packages/ink_cli/pubspec.yaml
Labels: type: documentation, type: dependencies, pkg: ink_abi, pkg: ink_cli, Review effort 1/5
