Repository leonardocustodio/polkadart, pull requests merged in 2025-03, with the labels that each got.

#554 Update Ink-Cli documentation
  docs/src/content/docs/guides/contracts-interaction.mdx
Labels: type: documentation, Review effort 2/5

#593 Removes dart:io for wasm compability
  packages/substrate_metadata/lib/core/chain.dart
  packages/substrate_metadata/lib/utils/functions.dart
  packages/substrate_metadata/lib/utils/spec_version_maker.dart
  packages/substrate_metadata/lib/utils/utils.dart
  packages/substrate_metadata/pubspec.yaml
  packages/substrate_metadata/test/chains/kusama/spec_version_test.dart
  packages/substrate_metadata/test/chains/polkadot/spec_version_test.dart
  packages/substrate_metadata/test/v14_tests/events_test.dart
  packages/substrate_metadata/test/v14_tests/extrinsics_test.dart
  pubspec.lock
Labels: pkg: substrate_metadata, type: dependencies, Review effort 3/5

#594 Bump substrate_metadata version
  packages/substrate_metadata/CHANGELOG.md
  packages/substrate_metadata/pubspec.yaml
Labels: type: documentation, pkg: substrate_metadata, type: dependencies
