Repository leonardocustodio/polkadart, pull requests merged in 2025-01, with the labels that each got.

#502 Generate Contract Methods
  .github/labeler.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
  packages/ink_abi/CHANGELOG.md
  packages/ink_abi/analysis_options.yaml
  packages/ink_abi/example/example.dart
  packages/ink_abi/example/v5_metadata.json
  packages/ink_abi/lib/core/decode_result.dart
  packages/ink_abi/lib/core/encode_call.dart
  packages/ink_abi/lib/core/ink_abi.dart
  packages/ink_abi/lib/core/ink_abi_description.dart
  packages/ink_abi/lib/core/selector_byte_input.dart
  packages/ink_abi/lib/core/types_normalizer.dart
  packages/ink_abi/lib/ink_abi_base.dart
  packages/ink_abi/lib/interfaces/core/abstract_interface.dart
  packages/ink_abi/lib/interfaces/core/array_codec_interface.dart
  packages/ink_abi/lib/interfaces/core/bit_sequence_interface.dart
  packages/ink_abi/lib/interfaces/core/compact_codec_interface.dart
  packages/ink_abi/lib/interfaces/core/composite_codec_interface.dart
  packages/ink_abi/lib/interfaces/core/option_codec_interface.dart
  packages/ink_abi/lib/interfaces/core/params.dart
  packages/ink_abi/lib/interfaces/core/primitive_codec_interface.dart
  packages/ink_abi/lib/interfaces/core/sequence_codec_interface.dart
  packages/ink_abi/lib/interfaces/core/tuple_codec_interface.dart
  packages/ink_abi/lib/interfaces/core/variant_codec_interface.dart
  packages/ink_abi/lib/interfaces/enums/primitive_enum.dart
  packages/ink_abi/lib/interfaces/enums/typekind_enum.dart
  packages/ink_abi/lib/interfaces/interfaces_base.dart
  packages/ink_abi/lib/models/ink_abi_event.dart
  packages/ink_abi/lib/schemas/schema_validator.dart
  packages/ink_abi/lib/utils/definitions.dart
  packages/ink_abi/lib/utils/utils.dart
  packages/ink_abi/pubspec.yaml
  packages/ink_abi/test/erc_20_v3_test.dart
  packages/ink_abi/test/erc_20_v5_test.dart
  packages/ink_cli/.gitignore
  packages/ink_cli/CHANGELOG.md
  packages/ink_cli/README.md
  packages/ink_cli/analysis_options.yaml
  packages/ink_cli/bin/generate.dart
  packages/ink_cli/example/generated.dart
  packages/ink_cli/example/v3_metadata.json
  packages/ink_cli/lib/ink_cli.dart
  packages/ink_cli/lib/src/core/abi_output.dart
  packages/ink_cli/lib/src/core/interfaces.dart
  packages/ink_cli/lib/src/core/names_generator.dart
  packages/ink_cli/lib/src/core/sink.dart
  packages/ink_cli/lib/src/core/type_generator.dart
  packages/ink_cli/lib/src/hasher/dcg_hasher.dart
  packages/ink_cli/lib/src/hasher/type_hasher.dart
  packages/ink_cli/lib/src/utils/file_utils.dart
  packages/ink_cli/pubspec.yaml
  packages/ink_cli/test/dummy_test.dart
  packages/polkadart/lib/extrinsic/signature_type.dart
  packages/polkadart_cli/lib/src/generator/pallet.dart
  packages/polkadart_cli/lib/src/typegen/types/array.dart
  packages/polkadart_cli/lib/src/typegen/types/primitive.dart
  packages/polkadart_cli/lib/src/typegen/types/sequence.dart
  packages/secp256k1_ecdsa/test/helpers/models.dart
  packages/substrate_metadata/lib/parsers/metadata_v14_expander.dart
Labels: type: documentation, pkg: polkadart, pkg: polkadart_cli, pkg: secp256k1_ecdsa, pkg: substrate_metadata, type: dependencies, github-actions, pkg: ink_abi

#503 Publish ink_cli
  packages/ink_cli/LICENSE
  packages/ink_cli/pubspec.yaml
Labels: type: dependencies, Review effort [1-5]: 1, pkg: ink_cli

#506 Add an example for using a custom `ChargeAssetTxPayment` with the encointer chain
  examples/bin/encointer_extrinsic_demo.dart
  examples/pubspec.yaml
Labels: type: dependencies

#487 RuntimeV14 parser and adds V15 support
  examples/pubspec.yaml
  packages/polkadart/lib/apis/apis.dart
  packages/polkadart/lib/apis/state.dart
  packages/polkadart/lib/multisig/multisig_meta.dart
  packages/polkadart_cli/.gitignore
  packages/polkadart_cli/bin/generate.dart
  packages/polkadart_cli/lib/src/generator/chain.dart
  packages/polkadart_cli/lib/src/generator/pallet.dart
  packages/polkadart_cli/lib/src/generator/polkadart.dart
  packages/polkadart_cli/lib/src/typegen/parser.dart
  packages/polkadart_cli/lib/src/typegen/runtime_metadata_v14.dart
  packages/polkadart_cli/lib/src/typegen/typegen.dart
  packages/polkadart_cli/lib/src/typegen/types/core.dart
  packages/polkadart_cli/pubspec.yaml
  packages/substrate_metadata/lib/metadata/common.dart
  packages/substrate_metadata/lib/metadata/metadata.dart
  packages/substrate_metadata/lib/metadata/runtime.dart
  packages/substrate_metadata/lib/metadata/v14.dart
  packages/substrate_metadata/lib/metadata/v15.dart
  packages/substrate_metadata/lib/scale_info/field.dart
  packages/substrate_metadata/lib/scale_info/portable.dart
  packages/substrate_metadata/lib/scale_info/scale_info.dart
  packages/substrate_metadata/lib/scale_info/type_definition.dart
  packages/substrate_metadata/lib/scale_info/type_metadata.dart
  packages/substrate_metadata/lib/scale_info/type_parameter.dart
  packages/substrate_metadata/lib/scale_info/variant.dart
  packages/substrate_metadata/lib/substrate_metadata.dart
  packages/substrate_metadata/pubspec.yaml
Labels: pkg: polkadart, pkg: polkadart_cli, pkg: substrate_metadata, type: dependencies, Review effort [1-5]: 4, enhancement, other

#508 Improved web support
  examples/analysis_options.yaml
  packages/polkadart/lib/substrate/hash/xxh64.dart
  packages/polkadart_cli/bin/generate.dart
  packages/polkadart_cli/lib/src/typegen/references.dart
  packages/polkadart_cli/lib/src/typegen/types/array.dart
  packages/polkadart_cli/lib/src/typegen/types/sequence.dart
  packages/polkadart_scale_codec/lib/primitives/i64.dart
  packages/polkadart_scale_codec/lib/primitives/primitives.dart
  packages/polkadart_scale_codec/lib/primitives/u64.dart
Labels: pkg: polkadart, pkg: polkadart_cli, pkg: polkadart_scale_codec

#513 Fixes: 512, Primitive Uppercase issue
  packages/ink_abi/lib/interfaces/enums/primitive_enum.dart
Labels: Review effort [1-5]: 2, pkg: ink_abi
